@model List<ShootRange>
@{
    ViewData["Title"] = "Главная";
    var scenarios = (ViewData["Scenarios"] as IEnumerable<GameScenario>).ToList();
    int scenarioCount = scenarios.Count();
    var types = (ViewData["Types"] as IEnumerable<GameType>).ToList();
    int typeCount = types.Count();
}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid w-75 align-self-end" src="~/Images/about.jpg" alt="">
                    <div class="w-60 bg-secondary p-5" style="margin-top: -30%;">
                        <h1 class="text-uppercase text-primary mb-3">Удовольствие</h1>
                        <h2 class="text-uppercase mb-0">гарантировано</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block bg-secondary text-primary py-1 px-4">О нас</p>
                <h1 class="text-uppercase mb-4">Больше чем просто пейнтбол!</h1>
                <p class="text-white fs-6">Представляем Вашему вниманию современный пейнтбольный клуб DeltaBall, где Вы можете отлично провести время с друзьями на свежем воздухе. Мы предлагаем качественные площадки, расположенные на территории Санкт-Петербурга и Ленинградской области, а также богатый выбор сценариев игр, которые станут настоящим вызовом для бойцов всех возрастов!</p>
                <p class="mb-4 text-white fs-6">На сайте присутствует развитая система рангов, которая поможет Вам не только получать удовольствие во время игр, но и делать это с максимальной выгодой, ведь чем больше у Вас боевого опыта, тем больше будет скидка на будущие игры.</p>
                <p class="mb-4">Подробно ознакомиться с рейтинговой системой можно <a href="/Home/Index#faq">здесь</a></p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Ranges Start -->
@if (Model.Any())
{
    <div class="container-fluid p-0 mb-5 wow fadeIn" id="ranges" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var range in Model)
                {
                    string activeString = Model.IndexOf(range) == 0 ? "active" : string.Empty;
                    <div class="carousel-item @activeString">
                        <img class="w-100" height="700" src="~/Images/Ranges/@string.Concat(range.Id.ToString(),".jpg")" alt="Image">
                        <div class="carousel-caption d-flex align-items-center justify-content-center text-start">
                            <div class="mx-sm-5 px-5" style="max-width: 900px;">
                                <h1 class="display-2 text-white text-uppercase mb-4 animated slideInDown">@range.Name</h1>
                                <p class="text-white text-uppercase mb-4 animated slideInDown">@range.Description</p>
                                <h4 class="text-white text-uppercase mb-4 animated slideInDown"><i class="fa fa-map-marker-alt text-primary me-3"></i>@range.Adress</h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
} 
else
{
    <h1 class="display-2 text-white text-uppercase mb-4 animated slideInDown">В данный момент информация о полигонах недоступна</h1>
}
<!-- Carousel End -->

<!-- Form Start -->
<!-- Form End -->

<!-- FAQ Start -->
<div class="container py-5" id="faq">
    <h1 class="text-uppercase mb-4 justify-content-center">Все еще сомневаешься? Вот еще немного информации!</h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Пейнтбол - это безопасно?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Наши игры абсолютно безопасны.</strong> Это возможно благодаря прочным материалам и специальным шлемам, обеспечивающих бойца полной защитой от краски. Также, Вы можете принести свою одежду на полигон. Во время каждой игры на полигоне дежурит один или несколько инструкторов, которые могут помочь, в случае возникновения проблем.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Какие есть сценарии игры?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @if (scenarios.Any())
                    {
                        <p>В нашем клубе доступно @scenarioCount сценариев.</p>
                        <hr />
                        @for (int i = 0; i < scenarioCount; i++)
                        {
                            <strong>@scenarios[i].Name</strong>
                            <p>@scenarios[i].Description</p>
                            <br />
                        }
                    }
                    else
                    {
                        <p>В настоящее время просмотр сценариев недостпен. Попробуйте позже</p>
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Какие есть типы игры?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @if (scenarios.Any())
                    {
                        <p>В нашем клубе представлены оружия @typeCount видов.</p>
                        <hr />
                        @for (int i = 0; i < typeCount; i++)
                        {
                            <strong>@types[i].Name</strong>
                            <p>@types[i].Description</p>
                            <br />
                        }
                    }
                    else
                    {
                        <p>В настоящее время просмотр сценариев недостпен. Попробуйте позже</p>
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Расскажите про ранговую систему!
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Ранг - это ваша гордость.</strong> После каждого сыгранного сценария, Вам начисляется боевой опыт, от которого зависит Ваш ранг. Чем выше ранг, тем выше скидка, которая применяется каждую игру. Таким образом Вы не только получаете удовольствие от игр, но еще и пользу!
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Как начать играть?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Получите приглашение.</strong> Вы можете <a asp-action="" asp-controller="" asp-area="Player">запланировать новую игру</a> в профиле или воспользоваться уникальной системой приглашений. Чтобы присоединится к игре, Вам необходимо получить вступительную ссылку от организатора игры.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQ End -->