@model IEnumerable<UserExpChange>

<div class="card">
	<div class="card-body">
		<h5 class="card-title fw-semibold mb-4">@ViewData["Title"]</h5>
		<div class="card rounded mb-0">
			@if (Model.Any())
			{
				<table class="table table-hover mb-0">
					<thead>
						<tr class="table-primary">
							<th class="col">
								@Html.DisplayNameFor(x=>x.First().Client.FullName)
							</th>
							<th class="col">
								@Html.DisplayNameFor(x=>x.First().DeltaExp)
							</th>
							<th class="col">
								@Html.DisplayNameFor(x=>x.First().ChangeMode.Name)
							</th>
							<th class="col">
								@Html.DisplayNameFor(x=>x.First().ChangeDate)
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var i in Model)
						{
							<tr class="table-light">								
								<td>
									@i.Client.FullName
								</td>
								<td>
									@i.DeltaExp
								</td>
								<td>
									@i.ChangeMode.Name
								</td>
								<td>
									@i.ChangeDate
								</td>
							</tr>
						}								
					</tbody>
				</table>
			}
			else
			{
				<div class="alert alert-warning" role="alert">
					<h3>Нет данных об оконченых играх!</h3>
				</div>

			}
		</div>
	</div>
</div>
