@model DeltaBall.Data.Models.GameScenario

<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">@ViewData["Title"]</h5>
        <div class="card rounded mb-0">
            <div class="row p-3">
                <div class="col-md-10">
                    <h3>Вы уверены, что хотите удалить этот сценарий?</h3>
                    <div>
                        <dl class="row">
                            <dt class="col-md-10 p-3 py-1">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-md-10 p-3 py-1">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-md-10 p-3 py-1">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-md-10 p-3 py-1">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <hr />
            <div class="p-3">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Подтвердить" class="btn btn-danger px-2" />
                    <a asp-area="Admin" asp-controller="Table" asp-action="Info" asp-route-name="GameScenarios" class="btn btn-outline-info">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
<hr />